.contact {
  display: flex;
  margin-top: 150px;
  justify-content: center;
}
.contact__inner {
  max-width: 40%;
}

.contact__inner__title {
  display: flex;
  justify-content: center;
  font-family: Poppins;
  font-size: 3.5em;
  font-style: normal;
  font-weight: 200;
  letter-spacing: 0.8px;
  color: #1d1d1d;
}

.contact__inner__text {
  margin-left: 15px;
  font-family: Poppins;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 1.8em;
  text-transform: none;
  color: rgba(29, 29, 29, 0.7);
}
@media only screen and (max-width: 800px) {
  .contact__inner {
    max-width: 80%;
  }
}

@media only screen and (max-width: 450px) {
  .contact__inner {
    max-width: 90%;
  }
}
