header {
   display: flex;
   justify-content: center;
   width: 100%;
   background-color: white;

}
.header__inner--wrapper{
   padding-left: 70px;
   padding-right: 70px;
   width: 90%;
   max-width: 1800px;
}
.header__inner {
   display: flex;
   width: 100%;
   padding-top: 20px;
   padding-bottom: 20px;
   box-sizing: border-box;
}

/* ~~~~ NAVIGATION ~~~~ */
nav {
   flex: 1;
   align-self: flex-end;
}

nav ul{
   list-style-type: none;
   display: inline-flex;
   padding-left: 0px;
}

nav ul li {
   display: flex;
   flex-direction: column;
   margin-right: 20px;
   
}

nav ul li a {
   font-weight: 400;
   font-style: normal;
   font-size: 12px;
   text-transform: uppercase;
   letter-spacing: .2em;
   transition: all 0.3s;
   text-decoration: none;
   color: rgba(29, 29, 29, 0.7);
}

nav ul li a:hover {
   color: rgb(202, 202, 202);
}

/* ~~~~ LOGO ~~~~ */
.header__inner__logo {
   display: flex;
   flex-basis: 120px;
   height: 50px;
   justify-content: center;
   /* align-content: center; */
}

.header__inner__logo img{
   width: 85%;
   height: 30px;
   margin: auto;
   
}

/* ~~~~ CART ~~~~ */
.header__inner__cart {
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 1;
   justify-content: flex-end;
}
.header__inner__cart:hover{
   cursor: pointer;
}
.fa-shopping-cart {
   font-size: 32px;
}
.item-count__div{
   display: flex;
   justify-content: center;
   text-align: center;
   background-color: chocolate;
   color: #fff;
   width: 20px;
   height: 20px;
   border-radius: 90px 90px 90px 90px;
   right: 10px;
   bottom: 5px;
   position: relative;

}